
/* light */


@font-face {
    font-family: 'inter';
    src: url('inter-light-beta-webfont.woff2') format('woff2'),
         url('inter-light-beta-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'inter';
    src: url('inter-lightitalic-beta-webfont.woff2') format('woff2'),
         url('inter-lightitalic-beta-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}



/* regular */



@font-face {
    font-family: 'inter';
    src: url('inter-regular-webfont.woff2') format('woff2'),
         url('inter-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'inter';
    src: url('inter-italic-webfont.woff2') format('woff2'),
         url('inter-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}



/* medium */



@font-face {
    font-family: 'inter';
    src: url('inter-medium-webfont.woff2') format('woff2'),
         url('inter-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'inter';
    src: url('inter-mediumitalic-webfont.woff2') format('woff2'),
         url('inter-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}


/* semibold */



@font-face {
    font-family: 'inter';
    src: url('inter-semibold-webfont.woff2') format('woff2'),
         url('inter-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'inter';
    src: url('inter-semibolditalic-webfont.woff2') format('woff2'),
         url('inter-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}



/* bold */



@font-face {
    font-family: 'inter';
    src: url('inter-bold-webfont.woff2') format('woff2'),
         url('inter-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'inter';
    src: url('inter-bolditalic-webfont.woff2') format('woff2'),
         url('inter-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}



/* extrabold */



@font-face {
    font-family: 'inter';
    src: url('inter-extrabold-webfont.woff2') format('woff2'),
         url('inter-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}



@font-face {
    font-family: 'inter';
    src: url('inter-extrabolditalic-webfont.woff2') format('woff2'),
         url('inter-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}



/* script */



@font-face {
    font-family: 'rock salt';
    src: url('rocksalt-webfont.woff2') format('woff2'),
         url('rocksalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}